<app-template-fullwidth title="Clients">

  <app-tableau-light *ngIf="collection$ | async as collection" [headers]="headers">
    <tr *ngFor="let item of collection">
      <td>{{ item.name }}</td>
      <td>{{ item.totalCaHt | currency }}</td>
      <td>{{ item.totalCaHt | total: 1: item.tva | currency }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
        </select>
      </td>
    </tr>
  </app-tableau-light>

  <app-button label="Add an order" route="add"></app-button>

</app-template-fullwidth>
