a, button {
  border: none;
  margin-left: 10px;
  color: var(--app-light);
  display: inline-block;
  padding: 1em;
  font-size: var(--app-regular-fs);
  background: var(--app-primary);
  transition: all .5s;
  &:hover {
    text-decoration: none;
  }
}

:host-context(.color2) a, :host-context(.color2) button {
  background: var(--app-secondary);
}
