:root {
  --primary: #05cad1;
  --secondary: #70148b;

  --dark: #424242;
  --light: #ffffff;
  --darklight: #dbdada;

  --error: #e2445c;
  --warning: #f77e2e;
  --success: #00c875;
}

$color1: green;
