:root {
  --app-primary: #05cad1;
  --app-secondary: #70148b;

  --app-dark: #424242;
  --app-light: #ffffff;
  --app-darklight: #dbdada;

  --app-error: #e2445c;
  --app-warning: #f77e2e;
  --app-success: #00c875;
}

